<div class="container">
  <header>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <span class="fs-5">CANDYLAND</span>
          </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-4 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-secondary">Головна</a></li>
            <li><a href="/view" class="nav-link px-2 text-white">Переглянути товар</a></li>
            <li><a href="/view/add" class="nav-link px-2 text-white">Додати товар</a></li>
            <li><a href="/profile" class="nav-link px-2 text-white">Обліковий запис</a></li>
          </ul>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Пошук..."
                   aria-label="Пошук...">
          </form>
          <div class="text-end">
            <a href="/logout" class="btn btn-light">Вихід</a>
          </div>
        </div>
      </div>
    </header>
  </header>
</div>

